<ion-view title="Behavior Model">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Behavior Type
        </div>
        <select name="behavior" id="behavior" class="minimal" ng-model="behavior.model"ng-change="updateBehavior()">
          <option value="abduction">Abduction</option>
          <option value="angler">Angler</option>
          <option value="atv">ATV</option>
          <option value="autistic">Autistic</option>
          <option value="camper">Camper</option>
          <option value="caver">Caver</option>
          <option value="child1to3">Child (Toddler, 1-3 yrs)</option>
          <option value="child4to6">Child (Preschool, 4-6 yrs)</option>
          <option value="child7to9">Child (School Age, 7-9 yrs)</option>
          <option value="child10to12">Child (Pre-Teen, 10-12 yrs)</option>
          <option value="child13to15">Child (Youth, 13-15 yrs)</option>
          <option value="climber">Climber (Sport)</option>
          <option value="dementia">Dementia (Alzheimer's)</option>
          <option value="despondent">Despondent</option>
          <option value="gatherer">Gatherer</option>
          <option value="hiker" selected>Hiker</option>
          <option value="hunter">Hunter</option>
          <option value="horsebackrider">Horseback Rider</option>
          <option value="mentalillness">Mental Illness</option>
          <option value="mentaldisability">Mental Disability</option>
          <option value="mountainbiker">Mountain Biker</option>
          <option value="runner">Runner</option>
          <option value="skieralpine">Skier (Alpine)</option>
          <option value="skiernordic">Skier (Nordic)</option>
          <option value="snowboarder">Snowboarder</option>
          <option value="snowmobiler">Snowmobiler</option>
          <option value="snowshoer">Snowshoer</option>
          <option value="substanceabuse">Substance Abuse</option>
          <option value="vehicle">Vehicle (All)</option>
          <option value="4wd">Vehicle (4wd)</option>
          <option value="abandonedvehicle">Vehicle (Abandoned)</option>
          <option value="worker">Worker</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Environment
        </div>
        <select ng-model="behavior.environment" ng-change="updateBehavior()">
          <option value="temperate">Temperate</option>
          <option value="dry">Dry</option>
          <option value="urban">Urban</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Terrain
        </div>
        <select ng-model="behavior.terrain">
          <option value="mtn">Mountain</option>
          <option value="flat">Flat</option>
        </select>
      </label>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="$parent.avgDispersion" ng-change="updateBehavior()">
        </label>
        Use aggregated dispersion values
      </li>
    </div>
    <div class="row">
      <div class="col">
        <h3>Distances</h3>
        Sample: {{behavior.distances.n}}<br>
        25%: {{behavior.distances.p25}} miles<br>
        50%: {{behavior.distances.p50}} miles<br>
        75%: {{behavior.distances.p75}} miles<br>
        95%: {{behavior.distances.p95}} miles
      </div>
      <div class="col">
        <h3>Dispersion</h3>
        Sample: {{behavior.dispersion.n}}<br>
        25%: {{behavior.dispersion.p25}} degrees<br>
        50%: {{behavior.dispersion.p50}} degrees<br>
        75%: {{behavior.dispersion.p75}} degrees<br>
        95%: {{behavior.dispersion.p95}} degrees
      </div>
    </div>
  </ion-content>
</ion-view>
